body{
  background-color: #000;
  color: #fff;
  font-family: Overpass, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: orangered;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
}

.container-fluid{
  background-color: #2e2e2e;
  width: 100%;
  padding-bottom: 25px;
}

@media (max-width: 1024px){
  .container-fluid {
      max-width: 100% !important;
      padding: 0 !important;
      }
  }

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row{
  margin-top: 20px;
  width: 100%;
}

.img{
  border-radius: 5px 50px 5px;
}

.hr-line{
  width: 5%;
  background-color: orangered;
  border-color: orangered;
  padding: 1px;
}

.dashed-line{
  border-top: 2px dashed orangered;
  width: 100%;
  height: 0.1px;
}

.bottom-line{
  float:left;
  width: 45%;
  background-color: orangered;
  border-color: orangered;
  padding: 1px;
}

h4{
  margin: 15px;
}

h4 span{
  color: orangered;
}

h1{
  font-size: 45px;
  margin: 5px;
  font-weight: 400;
}

h2 {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 400;
}

h2 span{
  color: orangered;
}

h5{
  margin-bottom: 1px;
}

.bx{
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: orangered;
  border-color: #fff;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 5px;
}
.bx:hover{
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border-color: #fff;
  color: orangered;
  border-radius: 8px;
  margin-bottom: 5px;
}

hr{
  height: 0.5px;
  background-color: #fff;
  border-color: #fff;
}

.title{
  padding-top: 30px;
  padding-bottom: 15px;
}

.container-grid{
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 0.5rem;
}

.grid-item{
  background-color: #000;
  color: #fff;
  padding: 1rem;
  height: 85%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
}

@media (min-width: 600px) {
  .container-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .container-grid { grid-template-columns: repeat(3, 1fr); }
}

.card-title{
  color: orangered;
}

.title-row {
  display:inline-grid;
  grid-template-columns: 1fr 3fr;
}

@media (max-width: 800px) {
  .title-row {
    grid-template-columns: 1fr;
  }
}

.first-column {
  width: 33%;
  padding: 0 10px 0 0;
  float: left;
}

.second-column {
  width: 66%;
  padding: 0 10px 0 0;
  float: left;
}

@media only screen and (max-width: 800px) {
 .first-column {
      width: 100%;
      padding-bottom: 10px;
      float: none;
  }

  .second-column {
      width: 100%;
      padding-bottom: 10px;
      float: none;
  } 
}